[
    {
        "labInfo": {
            "description": "11-12-2015 Trousers",
            "version": "1.0",
            "author": "L. Ariemma",
            "email": "",
            "web": "",
            "toggle": "enable"
        },
        "netkit": [
            {
                "name": "as1r1",
                "row": 1,
                "type": "router",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "1.0.0.1/24",
                            "$$hashKey": "object:9"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "D"
                            },
                            "$$hashKey": "object:46",
                            "ip": "1.100.1.2/30"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "C"
                            },
                            "$$hashKey": "object:57",
                            "ip": "1.100.0.1/30"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:11"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": true,
                        "as": "1",
                        "network": [
                            "1.0.0.0/8",
                            "1.100.0.0/30",
                            "1.100.1.0/30"
                        ],
                        "remote": [
                            {
                                "neighbor": "1.100.0.2",
                                "as": "12",
                                "description": "as12r2"
                            },
                            {
                                "neighbor": "1.100.1.1",
                                "as": "12",
                                "description": "as12r1"
                            }
                        ],
                        "free": "neighbor 1.100.0.2 route-map pref out\nroute-map pref permit 10\nset metric 20"
                    }
                },
                "$$hashKey": "object:17"
            },
            {
                "name": "as12r1",
                "row": 2,
                "type": "router",
                "interfaces": {
                    "counter": 2,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "H"
                            },
                            "ip": "100.0.2.1/24",
                            "$$hashKey": "object:78"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "D"
                            },
                            "$$hashKey": "object:115",
                            "ip": "1.100.1.1/30"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:80"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": true,
                        "connected": true,
                        "rip": false,
                        "bgp": true,
                        "if": [],
                        "network": [
                            "100.0.0.0/16"
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": true,
                        "as": "12",
                        "network": [
                            "100.0.0.0/16",
                            "1.100.1.0/30"
                        ],
                        "remote": [
                            {
                                "neighbor": "1.100.1.2",
                                "as": "1",
                                "description": "as1r1"
                            },
                            {
                                "neighbor": "100.0.3.3",
                                "as": "12",
                                "description": "as12r3"
                            },
                            {
                                "neighbor": "100.0.4.2",
                                "as": "12",
                                "description": "as12r2"
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:75"
            },
            {
                "name": "as12r2",
                "row": 3,
                "type": "router",
                "interfaces": {
                    "counter": 4,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "G"
                            },
                            "ip": "100.0.1.2/24",
                            "$$hashKey": "object:135"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "K"
                            },
                            "$$hashKey": "object:173",
                            "ip": "100.0.4.2/24"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "E"
                            },
                            "$$hashKey": "object:184",
                            "ip": "2.100.0.2/30"
                        },
                        {
                            "eth": {
                                "number": 3,
                                "domain": "C"
                            },
                            "$$hashKey": "object:197",
                            "ip": "1.100.0.2/30"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:137"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": true,
                        "connected": true,
                        "rip": false,
                        "bgp": true,
                        "if": [
                            {
                                "interface": "0",
                                "cost": "90"
                            }
                        ],
                        "network": [
                            "100.0.0.0/16"
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": true,
                        "as": "12",
                        "network": [
                            "100.0.0.0/16",
                            "2.100.0.0/30",
                            "1.100.0.0/30"
                        ],
                        "remote": [
                            {
                                "neighbor": "2.100.0.1",
                                "as": "2",
                                "description": "as2r1"
                            },
                            {
                                "neighbor": "100.0.4.3",
                                "as": "12",
                                "description": "as12r1"
                            },
                            {
                                "neighbor": "100.0.2.1",
                                "as": "12",
                                "description": "as12r1"
                            },
                            {
                                "neighbor": "1.100.0.1",
                                "as": "1",
                                "description": "as1r1"
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:131"
            },
            {
                "name": "as12r3",
                "row": 4,
                "type": "router",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "F"
                            },
                            "ip": "2.100.1.1/30",
                            "$$hashKey": "object:222"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "K"
                            },
                            "$$hashKey": "object:261",
                            "ip": "100.0.4.3/24",
                            "name": ""
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "J"
                            },
                            "$$hashKey": "object:272",
                            "ip": "100.0.3.3/24"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:224"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": true,
                        "connected": true,
                        "rip": false,
                        "bgp": true,
                        "if": [],
                        "network": [
                            "100.0.0.0/16"
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": true,
                        "as": "12",
                        "network": [
                            "100.0.0.0/16",
                            "2.100.1.0/30"
                        ],
                        "remote": [
                            {
                                "neighbor": "2.100.1.2",
                                "as": "2",
                                "description": "as2r1"
                            },
                            {
                                "neighbor": "100.0.4.2",
                                "as": "12",
                                "description": "as12r2"
                            },
                            {
                                "neighbor": "100.0.2.1",
                                "as": "12",
                                "description": "as12r1"
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:217"
            },
            {
                "name": "as12r4",
                "row": 5,
                "type": "router",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "J"
                            },
                            "ip": "100.0.3.4/24",
                            "$$hashKey": "object:296"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "G"
                            },
                            "$$hashKey": "object:336",
                            "ip": "100.0.1.4/24"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "H"
                            },
                            "$$hashKey": "object:347",
                            "ip": "100.0.2.4/24"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:298"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": true,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            "100.0.0.0/16"
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:290"
            },
            {
                "name": "as2r1",
                "row": 6,
                "type": "router",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "B"
                            },
                            "ip": "2.0.0.1/24",
                            "$$hashKey": "object:372"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "E"
                            },
                            "$$hashKey": "object:413",
                            "ip": "2.100.0.1/30"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "F"
                            },
                            "$$hashKey": "object:424",
                            "ip": "2.100.1.2/30"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:374"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": true,
                        "as": "2",
                        "network": [
                            "2.0.0.0/8",
                            "2.100.0.0/30",
                            "2.100.1.0/30"
                        ],
                        "remote": [
                            {
                                "neighbor": "2.100.1.1",
                                "as": "12",
                                "description": "as12r3"
                            },
                            {
                                "neighbor": "2.100.0.2",
                                "as": "12",
                                "description": "as12r2"
                            }
                        ],
                        "free": "neighbor 2.100.0.2 route-map pref in\nroute-map pref permit 10\nset local-preference 150"
                    }
                },
                "$$hashKey": "object:365"
            }
        ]
    }
]