<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=0.4" />
    <meta name="author" content="Lykon, Lollo, Neeja" />
    <title>Netkit Lab Generator</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap.vertical-tabs.min.css">
    <link rel="stylesheet" href="css/vis.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABjUlEQVQ4ja2RsW7aQByHP87ns2Mj180YlQeIOrBU4nmKisQ7IPECDCwMTHkIxIY6MdKFocrGGzTCjm2dzz6lA9gNahQpaX/TXyd99/3vd/CP6ex2u6/H4/HuHayN4/hbZ7PZ6H6/71VV9SbadV32+/2TNMZ4VVUxHo//XG3tX0Ce59T1EwDX1x9YLpcYYzoSoCxLAKbTKdvtlsPh0IJJklAUBdY6APi+z+Nj2jKiGQDm8zmDwYCbm08kSUKSJKSpJssMAN1uhFJXuK6iEQuAuq6x1jIajVitVtzf/2Q4HHJ7+xmtNb7v0+1GCOGgVIDv+9R1DYB8/t7FYkEQBFhrmc1mWOtcgEI4CCGQUrVdSQCtNXmeE8cxRVGcWw4JwyuUCk4m6QLgeQFZ9oDW+nRelmVbSFmWGGPOZX28sHpe0G4qhEPDyedfZYzBWovrhigVIKV7Ab4U2awShiFpmp7tDvALKRVZ9tBam3jeadZaIxtoMpm8anopaZoioyj6sV6vv7yZBnq93vf3cP83vwGLvrOpZ8u5AwAAAABJRU5ErkJggg==" />
    <script src="js/page.js"></script>
</head>
<body id="logos" class="bg-logos">
<script>
    var isIE = navigator.userAgent.indexOf('MSIE')!==-1 || navigator.appVersion.indexOf('Trident/') > 0;
    if (isIE)
        document.write('<p class="browserupgrade"><strong>Internet Explorer<\/strong> is not supported. Please upgrade your browser to <a href="https://www.google.com/chrome/browser/desktop/">Chrome<\/a> or <a href="https://www.mozilla.org/firefox/new/">Firefox<\/a>.<\/p>');
</script>
<h1>Netkit Lab Generator</h1>
<h4><a href="https://github.com/Kidel/Netkit-Lab-Generator" target="_blank">https://github.com/Kidel/Netkit-Lab-Generator</a></h4>
<hr />
<div id="description">
    This tool allows to quickly generate most of the files and folders you need to run a working netkit lab.
    The main purpose is to quickly generate the files and folders needed with low configuration options, so more
    advanced funtionalities are omitted and some others are set by default (like zebra username and password). 
    The tool also allows to visualize the topology in the 'Graph' tab.
    <br />
    Once the form is compiled just download the bash script or the .zip file with the whole lab.
    It is also possible to export and import the form configuration for future changes.
    DNS may not work with too many levels.
    <br />
    <br />
    The <a href="https://github.com/Kidel/Netkit-Lab-Generator/graphs/contributors" target="_blank">authors</a>
    of this application do not take any responsibility for any malfunction. Remember to check the final configuration for exams and production.
</div>
<hr />

<br />

<div data-ng-app="napp" data-ng-controller="nc">
    <div id="col10" class="col-xs-10">
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <table id="labInfo">
                    <tr>
                        <th>Lab informations</th>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                <label>Description:</label>
                                <input type="text" data-ng-model="labInfo.description" class="form-control" placeholder="Exam 2-A 'Harpoon'" />
                            </div>
                            <div>
                                <label>Version:</label>
                                <input type="text" data-ng-model="labInfo.version" class="form-control" placeholder="1.0" />
                            </div>
                            <div>
                                <label>Author(s):</label>
                                <input type="text" data-ng-model="labInfo.author" class="form-control" placeholder="M. Rossi, F. Bianchi" />
                            </div>
                            <div>
                                <label>Email:</label>
                                <input type="email" data-ng-model="labInfo.email" class="form-control" placeholder="m.rossi@provider.dom" />
                            </div>
                            <div>
                                <label>Website:</label>
                                <input type="text" data-ng-model="labInfo.web" class="form-control" placeholder="http://yoursite.dom" />
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="clear"></div>

                <div class="btn btn-success" data-ng-click="addMachine()">Add machine</div>
                <div class="btn btn-danger" data-ng-click="removeMachine()" data-ng-disabled="counter<=1">Remove last machine</div>

                <br />

                <table id="netkit">
                    <tr>
                        <th>Machine informations</th>
                        <th>Network interfaces</th>
                        <th>Gateway (static):</th>
                        <th colspan="4">Additional functions</th>
                    </tr>

                    <tr data-ng-repeat="x in netkit track by $index">
                        <td>
                            <div><label>Machine {{x.row}}:</label>
                                <input type="text" data-ng-model="x.name" class="form-control" placeholder="pc" required /></div>
                            <input title="type" type="radio" value="terminale" data-ng-model="x.type" /> Terminal<br />
                            <input title="type" type="radio" value="router" data-ng-model="x.type" /> Router<br />
                            <input title="type" type="radio" value="ns" data-ng-model="x.type" /> Name Server<br />
                            <input title="type" type="radio" value="ws" data-ng-model="x.type" /> Web Server<br />
                            <input title="type" type="radio" value="other" data-ng-model="x.type" /> Other<br />
                            <div data-ng-show="x.type == 'other'"><label>Image Name:</label>
                                <input type="text" data-ng-model="x.other.image" class="form-control" required placeholder="e.g.: p4" required /></div>
                            <div>
                        </td>
                        <td class="interfaces">
                            <div class="btn btn-success" data-ng-click="addInterface(x)">Add interface</div>
                            <div class="btn btn-danger" data-ng-click="removeInterface(x)" data-ng-disabled="x.interfaces.counter<=1">Remove last interface</div><br />
                            <div class="hidelasthr" data-ng-repeat="i in x.interfaces.if">
                                <div><label>Eth{{i.eth.number}}: </label>
                                    <input type="text" data-ng-model="i.eth.domain" class="form-control" placeholder="A" required /></div>
                                <div><label> IP/Net: </label>
                                    <input type="text" data-ng-model="i.ip" class="form-control" placeholder="0.0.0.0/0" pattern="(^$)|(((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$)" /></div>
                                <div><label> Complete DNS Name: </label>
                                    <input type="text" data-ng-model="i.name" class="form-control" placeholder="www.x.y. or ROOT-SERVER." pattern=".*\.$"/></div>
                                <hr />
                            </div>
                            <label>Directly in {{x.name}}.startup:</label>
                            <textarea title="free" rows="3" class="form-control" data-ng-model="x.interfaces.free"></textarea>
                        </td>
                        <td class="gateways">
                            <div class="btn btn-success" data-ng-click="addGateway(x)">Add gateway</div>
                            <div class="btn btn-danger" data-ng-click="removeGateway(x)" data-ng-disabled="x.gateways.counter<=1">Remove last gw</div><br />
                            <div class="hidelasthr" data-ng-repeat="j in x.gateways.gw">
                                <div><label>Route (empty for default gw):</label>
                                    <input type="text" data-ng-model="j.route" class="form-control" placeholder="0.0.0.0/0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" /></div>
                                <div><label>GW (empty to generate nothing):</label>
                                    <input type="text" data-ng-model="j.gw" class="form-control" placeholder="0.0.0.0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" /></div>
                                <div><label>Interface:</label>
                                    <select title="eth" data-ng-model="j.if" class="form-control">
                                        <option data-ng-repeat="i in x.interfaces.if" value="{{i.eth.number}}">eth{{i.eth.number}}</option>
                                    </select></div>
                                <hr />
                            </div>
                        </td>
                        <td  data-ng-show="x.type=='ns'">
                            <div>
                                <div><input title="auth" type="checkbox" value="1" data-ng-model="x.ns.authority" /> I am a Nameserver Authority<br />
                                </div>
                                <div data-ng-show="x.ns.authority"><label>Zone (Root is .):</label>
                                    <input type="text" data-ng-model="x.ns.zone" class="form-control" required placeholder=".com." pattern="(^\..*\.$)|^.$" /></div>
                                <div><input title="rec" type="checkbox" value="1" data-ng-model="x.ns.recursion" /> Enable recursive<br />
                                </div>
                            </div>
                        </td>
                        <td data-ng-show="x.type=='ws'">
                            <input title="userdir" type="checkbox" value="1" data-ng-model="x.ws.userdir" /> Enable <strong>userdir</strong> module?
                        </td>
                        <td data-ng-show="x.type=='terminale'">
                            <label>Reference DNS (resolv.conf nameserver):</label>
                            <select title="en" data-ng-model="x.pc.dns">
                                <option value="-" selected>-</option>
                                <optgroup data-ng-repeat="m in netkit" data-ng-if="m.type == 'ns' && m.ns.recursion" label="{{m.name}}">
                                    <option data-ng-repeat="ifn in m.interfaces.if" value="{{ifn.ip.split('/')[0]}}">{{ifn.ip.split('/')[0]}}</option>
                                </optgroup>
                            </select>
                        </td>
                        <td data-ng-show="x.type=='other'">
                            <div class="btn btn-success" data-ng-click="addFile(x)">Add file</div>
                            <div class="btn btn-danger" data-ng-click="removeFile(x)" data-ng-disabled="x.other.files<=1">Remove last file</div><br />
                            <div>(files will be stored in /etc/scripts/)</div>
                            <div class="hidelasthr" data-ng-repeat="fl in x.other.files">
                                <div><label>File name:</label>
                                    <input type="text" data-ng-model="fl.name" class="form-control" placeholder="e.g: my_switch.p4" required /></div>
                                <div><label>File contents:</label>
                                    <textarea title="free" rows="3" class="form-control" data-ng-model="fl.contents"></textarea>
                                </div>
                                <hr />
                            </div>
                        </td>
                        <td data-ng-show="x.type=='router'">
                            <label>Dynamic routing: </label><br /><br />
                            <div><input title="en" type="checkbox" value="router" data-ng-model="x.routing.rip.en" /> rip</div>
                            <div data-ng-show="x.routing.rip.en">
                                <span class="btn btn-success btn-square" data-ng-click="addRipNetwork(x)">+</span>
                                <span class="btn btn-danger btn-square" data-ng-click="removeRipNetwork(x)" data-ng-disabled="x.routing.rip.network.length<=1">-</span>
                                <div data-ng-repeat="rnet in x.routing.rip.network track by $index">
                                    <label>Network: </label>
                                    <input type="text" placeholder="0.0.0.0/0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.rip.network[$index]" />
                                </div>
                                <span class="btn btn-success btn-square" data-ng-click="addRipRoute(x)">+</span>
                                <span class="btn btn-danger btn-square" data-ng-click="removeRipRoute(x)" data-ng-disabled="x.routing.rip.route.length<=1">-</span>
                                <div data-ng-repeat="rroute in x.routing.rip.route track by $index">
                                    <label>Route (empty to omit): </label>
                                    <input type="text" placeholder="0.0.0.0/0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.rip.route[$index]" />
                                </div>

                                <div><input title="redistributeo" type="checkbox" value="1" data-ng-model="x.routing.rip.ospf" /> redistribute ospf</div>
                                <div><input title="redistributeb" type="checkbox" value="1" data-ng-model="x.routing.rip.bgp" /> redistribute bgp</div>
                                <div><input title="redistributec" type="checkbox" value="1" data-ng-model="x.routing.rip.connected" /> redistribute connected</div>
                                <label>Directly in ripd.conf:</label>
                                <textarea title="free" rows="3" class="form-control" data-ng-model="x.routing.rip.free"></textarea>
                            </div>
                            <hr />
                            <div><input title="en" type="checkbox" value="ns" data-ng-model="x.routing.ospf.en" /> ospf</div>
                            <div data-ng-show="x.routing.ospf.en">
                                <span class="btn btn-success btn-square" data-ng-click="addOspfNetwork(x)">+</span>
                                <span class="btn btn-danger btn-square" data-ng-click="removeOspfNetwork(x)" data-ng-disabled="x.routing.ospf.network.length<=1">-</span>
                                <div data-ng-repeat="onet in x.routing.ospf.network track by $index">
                                    <div>
                                        <label>Network: </label>
                                        <input type="text" placeholder="0.0.0.0/0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.ospf.network[$index]" />
                                    </div>
                                    <div>
                                        <label>Area: </label>
                                        <input type="text" placeholder="0.0.0.0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" class="form-control" data-ng-model="x.routing.ospf.area[$index]" />
                                    </div>
                                    <input title="stub" type="checkbox" value="1" data-ng-model="x.routing.ospf.stub[$index]" /> stub?
                                </div>

                                <div><input title="redistributer" type="checkbox" value="1" data-ng-model="x.routing.ospf.rip" /> redistribute rip</div>
                                <div><input title="redistributeb" type="checkbox" value="1" data-ng-model="x.routing.ospf.bgp" /> redistribute bgp</div>
                                <div><input title="redistributec" type="checkbox" value="1" data-ng-model="x.routing.ospf.connected" /> redistribute connected</div>
                                <label>Cost: </label>
                                <div data-ng-repeat="o in x.interfaces.if">
                                    <div><input type="text" placeholder="0" class="form-control" data-ng-model="x.routing.ospf.if[o.eth.number].cost" pattern="[0-9]*" /></div>
                                    <select title="eth" data-ng-model="x.routing.ospf.if[o.eth.number].interface" class="form-control" style="margin-bottom: 4px;">
                                        <option data-ng-repeat="i in x.interfaces.if" value="{{i.eth.number}}">eth{{i.eth.number}}</option>
                                    </select>
                                </div>
                                <label>Directly in ospfd.conf:</label>
                                <textarea title="free" rows="3" class="form-control" data-ng-model="x.routing.ospf.free"></textarea>
                            </div>
                            <hr />
                            <div><input title="en" type="checkbox" value="router" data-ng-model="x.routing.bgp.en" /> bgp</div>
                            <div data-ng-show="x.routing.bgp.en">
                                <label>AS: </label>
                                <input type="text" placeholder="0" pattern="^[0-9]*$" class="form-control" data-ng-model="x.routing.bgp.as" required />
                                <span class="btn btn-success btn-square" data-ng-click="addBgpNetwork(x)">+</span>
                                <span class="btn btn-danger btn-square" data-ng-click="removeBgpNetwork(x)" data-ng-disabled="x.routing.bgp.network.length<=1">-</span>
                                <div data-ng-repeat="bnet in x.routing.bgp.network track by $index">
                                    <label>Network: </label>
                                    <input type="text" placeholder="0.0.0.0/0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.bgp.network[$index]" />
                                </div>
                                <span class="btn btn-success btn-square" data-ng-click="addBgpNeighbor(x)">+</span>
                                <span class="btn btn-danger btn-square" data-ng-click="removeBgpNeighbor(x)" data-ng-disabled="x.routing.bgp.remote.length<=1">-</span>
                                <div data-ng-repeat="bremote in x.routing.bgp.remote track by $index">
                                    <label>Neighbor (empty to omit): </label>
                                    <input type="text" placeholder="0.0.0.0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" class="form-control" data-ng-model="x.routing.bgp.remote[$index].neighbor" />
                                    <label>Remote-AS: </label>
                                    <input type="text" placeholder="0" pattern="^[0-9]*$" class="form-control" data-ng-model="x.routing.bgp.remote[$index].as" />
                                    <label>Description: </label>
                                    <input type="text" title="description" class="form-control" data-ng-model="x.routing.bgp.remote[$index].description" />
                                </div>
                                <div>
                                    <label>Directly in bgpd.conf:</label>
                                    <textarea title="free" rows="3" class="form-control" data-ng-model="x.routing.bgp.free"></textarea>
                                </div>
                            </div>
                            <hr />
                        </td>
                    </tr>

                </table>

                <div class="btn btn-success" data-ng-click="addMachine()">Add machine</div>
                <div class="btn btn-danger" data-ng-click="removeMachine()" data-ng-disabled="counter<=1">Remove last machine</div><br />

                <br />
                <div id="executeDiv" class="ng-hide">
                        <a class="btn btn-primary" id="copyLab"><strong>Copy lab on Host *</strong></a> <a class="btn btn-primary" id="lstart"><strong>Run LStart on Host **</strong></a> <a class="btn btn-primary" id="lclean"><strong>Run LClean on Host **</strong></a>
                    <br />
                    * On Windows it requires something to run .sh files (like Git bash), or you can unpack the .zip file (button below) to &lt;application data&gt;/KatharaUI/lab.
                    <br />
                    ** Requires Kathar&aacute; (or eventually Netkit) installed on Host and PATH configured correctly with NETKIT_HOME variable.
                </div>
                <a class="btn btn-primary" data-ng-click="makeDownload(generateScript(netkit, labInfo), 'netkit.script')"><strong>Download .sh file</strong></a>
                <a class="btn btn-primary" data-ng-click="generateZip(netkit, labInfo)"><strong>Download .zip file</strong></a>
                <br />
                <a class="btn btn-primary" data-ng-click="makeDownload(generateConfig(netkit, labInfo), 'netkit.config')"><strong>Export configuration</strong></a>
                <br />
                <a class="btn btn-primary" data-ng-click="import()"><strong>Import configuration</strong></a>
                <span class="file">
                    <input type="file" id="file" name="file" class="form-control hidden"
                           onchange="document.getElementById('file-text').value = lastElem(lastElem(this.value.split('/')).split('\\'));" />
                    <input type="button" class="btn btn-default btn-short" onclick="document.getElementById('file').click();" value="Browse..."><input id="file-text" type="text" class="form-control fakefile" title="file-text" onclick="document.getElementById('file').click();" readonly />
                </span>


                <br />
                <br />
                <hr />
                <br />

                <h4>Bash file preview:</h4>
                <textarea id="sh_script" title="script" rows="15" readonly>{{ generateScript(netkit, labInfo) }}</textarea>
            </div>

            <div class="tab-pane" id="graph">
                <div class="btn btn-primary" data-ng-click="makeGraph(netkit)"><strong>Preview</strong>(force)</div>
                <!--<div class="btn btn-default" data-ng-click="toggleGraphUpdate()">{{labInfo.toggle}} auto update</div>
                <span class="bg-warning">(enabling auto update may cause performance issues depending on your machine)</span>-->
                <div id="mynetwork"></div>
            </div>
        </div>
    </div>

    <div id="col1" class="col-xs-2" align="right">
        <!-- Nav tabs 
        <ul class="nav nav-tabs tabs-right" style="border-left: 1px slid #ddd">
            <li id="tab-home" class="tab-label active"><a href="#home" data-toggle="tab" onclick="toggle_tab(event, this)">Home</a></li>
            <li id="tab-graph" class="tab-label"><a href="#graph" data-toggle="tab" onclick="toggle_tab(event, this)" data-ng-click="makeGraphIfChanged(netkit)">Graph</a></li>
        </ul> -->
        <div class="fixed right-margin">
            <div align="right">
                <a href="#home" data-toggle="tab" onclick="toggle_tab(event, this)" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i> <strong>Home</strong></a>
            </div>
            <div align="right">
                <a href="#graph" data-toggle="tab" onclick="toggle_tab(event, this)" data-ng-click="makeGraphIfChanged(netkit)" class="btn btn-primary"><i class="glyphicon glyphicon-picture"></i> <strong>Graph</strong></a>
            </div>
        </div>
    </div>
</div>


<script src="js/vendor/angular.min.js"></script>
<script>
    if (typeof(angular)=="undefined")
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"><\/script>');
</script>
<script src="js/vendor/jszip.min.js"></script>
<script>
    if (typeof(JSZip)=="undefined")
        document.write('<script src="https://raw.githubusercontent.com/Stuk/jszip/master/dist/jszip.min.js"><\/script>');
</script>
<script src="js/vendor/FileSaver.min.js"></script>
<script>
    if (typeof(saveAs)=="undefined")
        document.write('<script src="https://raw.githubusercontent.com/eligrey/FileSaver.js/master/FileSaver.min.js"><\/script>');
</script>

<script src="js/helper.js"></script>
<script src="js/make_draw_model.js"></script>
<script src="js/vendor/vis.js"></script>
<script src="js/draw.js"></script>
<script src="js/make.js"></script>
<script src="js/model.js"></script>
<script src="js/controller.js"></script>



<script>
    window.onload= function() {
        console.log("  _______          __   __   .__  __    \n  \\      \\   _____/  |_|  | _|__|/  |_  \n  /   |   \\_/ __ \\   __\\  |/ /  \\   __\\ \n /    |    \\  ___/|  | |    <|  ||  |   \n \\____|__  /\\___  >__| |__|_ \\__||__|   \n         \\/     \\/          \\/         ");

        function isElectron() {
            return window && window.process && window.process.type;
        }

        var electron;
        var isWin;
        
        function copyLab(e){
            e.preventDefault();
            var script = document.querySelector('#sh_script').value;
            const {ipcRenderer} = electron;
            //console.log(script);
            ipcRenderer.send('script:copy', script);
        }
        function executeStart(e){
            e.preventDefault();
            const {ipcRenderer} = electron;
            //console.log(script);
            ipcRenderer.send('script:execute');
        }
        function executeClean(e){
            e.preventDefault();
            const {ipcRenderer} = electron;
            ipcRenderer.send('script:clean');
        }

        if(isElectron()) {
            electron = require('electron');
            var currentWindow = electron.remote.getCurrentWindow();
            isWin = currentWindow.isWin;
            var buttonExecDiv = document.getElementById("executeDiv");
            buttonExecDiv.classList.remove("ng-hide");
            document.querySelector('#copyLab').addEventListener('click', copyLab);
            document.querySelector('#lstart').addEventListener('click', executeStart);
            document.querySelector('#lclean').addEventListener('click', executeClean);

            var logos = document.getElementById("logos");
            logos.classList.add("bg-logos-electron");
        }
    }
</script>

</body>
</html>