<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Lykon, Lollo, Neeja" />
    <title>Netkit Lab Generator</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="shortcut icon" type="image/png" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABjUlEQVQ4ja2RsW7aQByHP87ns2Mj180YlQeIOrBU4nmKisQ7IPECDCwMTHkIxIY6MdKFocrGGzTCjm2dzz6lA9gNahQpaX/TXyd99/3vd/CP6ex2u6/H4/HuHayN4/hbZ7PZ6H6/71VV9SbadV32+/2TNMZ4VVUxHo//XG3tX0Ce59T1EwDX1x9YLpcYYzoSoCxLAKbTKdvtlsPh0IJJklAUBdY6APi+z+Nj2jKiGQDm8zmDwYCbm08kSUKSJKSpJssMAN1uhFJXuK6iEQuAuq6x1jIajVitVtzf/2Q4HHJ7+xmtNb7v0+1GCOGgVIDv+9R1DYB8/t7FYkEQBFhrmc1mWOtcgEI4CCGQUrVdSQCtNXmeE8cxRVGcWw4JwyuUCk4m6QLgeQFZ9oDW+nRelmVbSFmWGGPOZX28sHpe0G4qhEPDyedfZYzBWovrhigVIKV7Ab4U2awShiFpmp7tDvALKRVZ9tBam3jeadZaIxtoMpm8anopaZoioyj6sV6vv7yZBnq93vf3cP83vwGLvrOpZ8u5AwAAAABJRU5ErkJggg==" />
</head>
<body class="bg-logos">
<script>
    var isIE = navigator.userAgent.indexOf('MSIE')!==-1 || navigator.appVersion.indexOf('Trident/') > 0;
    if (isIE)
        document.write('<p class="browserupgrade"><strong>Internet Explorer<\/strong> is not supported. Please upgrade your browser to <a href="https://www.google.com/chrome/browser/desktop/">Chrome<\/a> or <a href="https://www.mozilla.org/firefox/new/">Firefox<\/a>.<\/p>');
</script>
<h1>Netkit Lab Generator</h1>
<hr />
<div id="description">
    Questo tool permette di generare rapidamente i file e le cartelle necessari a far funzionare un laboratorio di Netkit.
    Lo scopo è la rapidità, quindi moltissime funzionalità opzionali non sono personalizzabili tramite questo form e sono settate a valori di
    default (ad esempio username e password di zebra). <strong>Gli autori di quest'applicazione non si assumono nessuna responsabilità
    riguardo eventuali malfunzionamenti</strong>.
    <br />
    Una volta compilato correttamente il form è possibile esportare il lab in formato .zip oppure tramite uno script bash che,
    al termine della sua esecuzione, provvederà a generare il lab e tutti i relativi file e cartelle. Inoltre è possibile esportare
    la configurazione del form in modo da importarla in un secondo momento ed effettuare modifiche.
</div>
<hr />

<br />

<div data-ng-app="napp" data-ng-controller="nc">
    <table id="netkit">
        <tr>
            <th>Info Macchina</th>
            <th>Interfacce di Rete</th>
            <th>Gateway (statico):</th>
            <th colspan="4">Funzioni aggiuntive:</th>
        </tr>

        <tr data-ng-repeat="x in netkit track by $index">
            <td>
                <div><label>Macchina {{x.row}}:</label>
                    <input type="text" data-ng-model="x.name" class="form-control" placeholder="pc" required /></div>
                <input title="type" type="radio" value="terminale" data-ng-model="x.type" /> Terminale<br />
                <input title="type" type="radio" value="router" data-ng-model="x.type" /> Router<br />
                <input title="type" type="radio" value="ns" data-ng-model="x.type" /> Name Server<br />
                <input title="type" type="radio" value="ws" data-ng-model="x.type" /> Web Server<br />
            </td>
            <td class="interfaces">
                <div class="btn btn-success" data-ng-click="addInterface(x)">Aggiungi interfaccia</div>
                <div class="btn btn-danger" data-ng-click="removeInterface(x)" data-ng-disabled="x.interfaces.counter<=1">Rimuovi ultima interfaccia</div><br />
                <div class="hidelasthr" data-ng-repeat="i in x.interfaces.if">
                    <div><label>Eth{{i.eth.number}}: </label>
                        <input type="text" data-ng-model="i.eth.domain" class="form-control" placeholder="A" required /></div>
                    <div><label> IP/Net: </label>
                        <input type="text" data-ng-model="i.ip" class="form-control" placeholder="0.0.0.0/0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" /></div>
                    <div><label> Nome DNS Completo: </label>
                        <input type="text" data-ng-model="i.name" class="form-control" placeholder="www.x.y. o ROOT-SERVER." pattern=".*\.$"/></div>
                    <hr />
                </div>
            </td>
            <td class="gateways">
                <div class="btn btn-success" data-ng-click="addGateway(x)">Aggiungi gateway</div>
                <div class="btn btn-danger" data-ng-click="removeGateway(x)" data-ng-disabled="x.gateways.counter<=1">Rimuovi ultimo gw</div><br />
                <div class="hidelasthr" data-ng-repeat="j in x.gateways.gw">
                    <div><label>Route (vuoto per default gw):</label>
                        <input type="text" data-ng-model="j.route" class="form-control" placeholder="0.0.0.0/0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" /></div>
                    <div><label>GW (vuoto per non generare nulla):</label>
                        <input type="text" data-ng-model="j.gw" class="form-control" placeholder="0.0.0.0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" /></div>
                    <div><label>Interface:</label>
                        <select title="eth" data-ng-model="j.if" class="form-control">
                            <option data-ng-repeat="i in x.interfaces.if" value="{{i.eth.number}}">eth{{i.eth.number}}</option>
                        </select></div>
                    <hr />
                </div>
            </td>
            <td  data-ng-show="x.type=='ns'">
                <div>
                    <div><input title="auth" type="checkbox" value="1" data-ng-model="x.ns.authority" /> Sono un Nameserver Authority<br />
                    </div>
                    <div data-ng-show="x.ns.authority"><label>Zona (Root &egrave; .):</label>
                        <input type="text" data-ng-model="x.ns.zone" class="form-control" required placeholder=".com." pattern="(^\..*\.$)|^.$" /></div>
                    <div><input title="rec" type="checkbox" value="1" data-ng-model="x.ns.recursion" /> Abilita risoluzioni ricorsive<br />
                    </div>
                </div>
            </td>
            <td data-ng-show="x.type=='ws'">
                <input title="userdir" type="checkbox" value="1" data-ng-model="x.ws.userdir" /> Enable <strong>userdir</strong> module?
            </td>
            <td data-ng-show="x.type=='terminale'">
                <label>DNS di riferimento:</label>
                <select title="en" data-ng-model="x.pc.dns">
                    <option value="">-</option>
                    <optgroup data-ng-repeat="m in netkit" data-ng-if="m.type == 'ns'" label="{{m.name}}">
                        <option data-ng-repeat="ifn in m.interfaces.if" value="{{ifn.ip.split('/')[0]}}">{{ifn.ip.split('/')[0]}}</option>
                    </optgroup>
                </select>
            </td>
            <td data-ng-show="x.type=='router'">
                <label>Routing dinamico: </label><br /><br />
                <div><input title="en" type="checkbox" value="router" data-ng-model="x.routing.rip.en" /> rip</div>
                <div data-ng-show="x.routing.rip.en">
                    <span class="btn btn-success btn-square" data-ng-click="addRipNetwork(x)">+</span>
                    <span class="btn btn-danger btn-square" data-ng-click="removeRipNetwork(x)" data-ng-disabled="x.routing.rip.network.length<=1">-</span>
                    <div data-ng-repeat="rnet in x.routing.rip.network track by $index">
                        <label>Network: </label>
                        <input type="text" placeholder="0.0.0.0/0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.rip.network[$index]" />
                    </div>
                    <span class="btn btn-success btn-square" data-ng-click="addRipRoute(x)">+</span>
                    <span class="btn btn-danger btn-square" data-ng-click="removeRipRoute(x)" data-ng-disabled="x.routing.rip.route.length<=1">-</span>
                    <div data-ng-repeat="rroute in x.routing.rip.route track by $index">
                        <label>Route (vuoto per omettere): </label>
                        <input type="text" placeholder="0.0.0.0/0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.rip.route[$index]" />
                    </div>

                    <div><input title="redistributeo" type="checkbox" value="1" data-ng-model="x.routing.rip.ospf" /> redistribute ospf</div>
                    <div><input title="redistributeb" type="checkbox" value="1" data-ng-model="x.routing.rip.bgp" /> redistribute bgp</div>
                    <div><input title="redistributec" type="checkbox" value="1" data-ng-model="x.routing.rip.connected" /> redistribute connected</div>
                </div>
                <hr />
                <div><input title="en" type="checkbox" value="ns" data-ng-model="x.routing.ospf.en" /> ospf</div>
                <div data-ng-show="x.routing.ospf.en">
                    <span class="btn btn-success btn-square" data-ng-click="addOspfNetwork(x)">+</span>
                    <span class="btn btn-danger btn-square" data-ng-click="removeOspfNetwork(x)" data-ng-disabled="x.routing.ospf.network.length<=1">-</span>
                    <div data-ng-repeat="onet in x.routing.ospf.network track by $index">
                        <div>
                            <label>Network: </label>
                            <input type="text" placeholder="0.0.0.0/0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.ospf.network[$index]" />
                        </div>
                        <div>
                            <label>Area: </label>
                            <input type="text" placeholder="0.0.0.0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" class="form-control" data-ng-model="x.routing.ospf.area[$index]" />
                        </div>
                        <input title="stub" type="checkbox" value="1" data-ng-model="x.routing.ospf.stub[$index]" /> stub?
                    </div>

                    <div><input title="redistributer" type="checkbox" value="1" data-ng-model="x.routing.ospf.rip" /> redistribute rip</div>
                    <div><input title="redistributeb" type="checkbox" value="1" data-ng-model="x.routing.ospf.bgp" /> redistribute bgp</div>
                    <div><input title="redistributec" type="checkbox" value="1" data-ng-model="x.routing.ospf.connected" /> redistribute connected</div>
                    <label>Cost: </label>
                    <div data-ng-repeat="o in x.interfaces.if">
                        <div><input type="text" placeholder="0" class="form-control" data-ng-model="x.routing.ospf.if[o.eth.number].cost" pattern="[0-9]*" /></div>
                        <select title="eth" data-ng-model="x.routing.ospf.if[o.eth.number].interface" class="form-control" style="margin-bottom: 4px;">
                            <option data-ng-repeat="i in x.interfaces.if" value="{{i.eth.number}}">eth{{i.eth.number}}</option>
                        </select>
                    </div>
                </div>
                <hr />
                <div><input title="en" type="checkbox" value="router" data-ng-model="x.routing.bgp.en" /> bgp</div>
                <div data-ng-show="x.routing.bgp.en">
                    <label>AS: </label>
                    <input type="text" placeholder="0" pattern="^[0-9]*$" class="form-control" data-ng-model="x.routing.bgp.as" />
                    <span class="btn btn-success btn-square" data-ng-click="addBgpNetwork(x)">+</span>
                    <span class="btn btn-danger btn-square" data-ng-click="removeBgpNetwork(x)" data-ng-disabled="x.routing.bgp.network.length<=1">-</span>
                    <div data-ng-repeat="bnet in x.routing.bgp.network track by $index">
                        <label>Network: </label>
                        <input type="text" placeholder="0.0.0.0/0" required pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}/[0-9]+$" class="form-control" data-ng-model="x.routing.bgp.network[$index]" />
                    </div>
                    <span class="btn btn-success btn-square" data-ng-click="addBgpNeighbor(x)">+</span>
                    <span class="btn btn-danger btn-square" data-ng-click="removeBgpNeighbor(x)" data-ng-disabled="x.routing.bgp.remote.length<=1">-</span>
                    <div data-ng-repeat="bremote in x.routing.bgp.remote track by $index">
                        <label>Neighbor (vuoto per omettere): </label>
                        <input type="text" placeholder="0.0.0.0" pattern="((^|\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}$" class="form-control" data-ng-model="x.routing.bgp.remote[$index].neighbor" />
                        <label>Remote-AS: </label>
                        <input type="text" placeholder="0" pattern="^[0-9]*$" class="form-control" data-ng-model="x.routing.bgp.remote[$index].as" />
                        <label>Description: </label>
                        <input type="text" title="description" class="form-control" data-ng-model="x.routing.bgp.remote[$index].description" />
                        <label>Prefix-List out: </label>
                        <select title="out" data-ng-model="x.routing.bgp.remote[$index].prefix_out">
                            <option value="" selected>-</option>
                            <option data-ng-repeat="rule_out in x.routing.bgp.p_list track by $index" value="{{x.routing.bgp.p_list[$index].name}}">{{x.routing.bgp.p_list[$index].name}}</option>
                        </select>
                        <br />
                        <label>Prefix-List in: </label>
                        <select title="in" data-ng-model="x.routing.bgp.remote[$index].prefix_in">
                            <option value="" selected>-</option>
                            <option data-ng-repeat="rule_in in x.routing.bgp.p_list track by $index" value="{{x.routing.bgp.p_list[$index].name}}">{{x.routing.bgp.p_list[$index].name}}</option>
                        </select>
                    </div>
                    <span class="btn btn-success" data-ng-click="addBgpPrefix(x)">Add Prefix</span>
                    <span class="btn btn-danger" data-ng-click="removeBgpPrefix(x)" data-ng-disabled="x.routing.bgp.p_list.length<=1">Remove</span>
                    <div data-ng-repeat="prefix in x.routing.bgp.p_list track by $index">
                        <label>Name: </label>
                        <input type="text" placeholder="pName1" pattern="^[a-zA-Z0-9]+$" class="form-control" data-ng-model="x.routing.bgp.p_list[$index].name" />
                        <label>Rules: </label>
                        <span class="btn btn-success" data-ng-click="addBgpRule(prefix.rules)">Add Filtering Rule</span>
                        <span class="btn btn-danger" data-ng-click="removeBgpRule(prefix.rules)" data-ng-disabled="prefix.rules.length<=0">Remove</span>
                        <div data-ng-repeat="rl in prefix.rules track by $index">
                            <input type="text" placeholder="permit 195.11.14.0/24" pattern="^((permit)|(deny))[ ]*(( any)|( all)|((( |\.)((25[0-5])|(2[0-4]\d)|(1\d\d)|([1-9]?\d))){4}\/[0-9]+))$" class="form-control" data-ng-model="prefix.rules[$index]" />
                        </div>
                    </div>
                </div>
                <hr />
            </td>
        </tr>

    </table>

    <br />

    <div class="btn btn-success" data-ng-click="addMachine()">Aggiungi Macchina</div>
    <div class="btn btn-danger" data-ng-click="removeMachine()" data-ng-disabled="counter<=1">Rimuovi ultima Macchina</div><br />
    <a class="btn btn-primary" data-ng-click="makeDownload(generateScript(netkit), 'netkit.script')"><strong>Scarica il file .sh</strong></a>
    <a class="btn btn-primary" data-ng-click="generateZip(netkit)"><strong>Scarica il file .zip</strong></a>
    <br />
    <a class="btn btn-primary" data-ng-click="makeDownload(generateConfig(netkit), 'netkit.config')"><strong>Esporta configurazione</strong></a>
    <br />
    <a class="btn btn-primary" data-ng-click="import()"><strong>Importa configurazione</strong></a>
    <span class="file">
        <input type="file" id="file" name="file" class="form-control hidden"
               onchange="document.getElementById('file-text').value = lastElem(lastElem(this.value.split('/')).split('\\'));" />
        <input type="button" class="btn btn-default btn-short" onclick="document.getElementById('file').click();" value="Sfoglia..."><input id="file-text" type="text" class="form-control fakefile" title="file-text" onclick="document.getElementById('file').click();" readonly />
    </span>


    <br />
    <br />
    <hr />
    <br />

    <h4 align="left">Anteprima:</h4>
    <textarea title="script" rows="15" readonly>{{ generateScript(netkit) }}</textarea>

    <!--<div class="btn btn-success" onclick="debug()">Debug (non in tempo reale)</div>
    <div id="origin" class="hidden">{{netkit}}</div>
    <pre id="highlight"></pre>-->

</div>


<script src="js/vendor/angular.min.js"></script>
<script>
    if (typeof(angular)=="undefined")
        document.write('<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"><\/script>');
</script>
<script src="js/vendor/jszip.min.js"></script>
<script>
    if (typeof(JSZip)=="undefined")
        document.write('<script src="https://raw.githubusercontent.com/Stuk/jszip/master/dist/jszip.min.js"><\/script>');
</script>
<script src="js/vendor/FileSaver.min.js"></script>
<script>
    if (typeof(saveAs)=="undefined")
        document.write('<script src="https://raw.githubusercontent.com/eligrey/FileSaver.js/master/FileSaver.min.js"><\/script>');
</script>

<script src="js/helper.js"></script>
<script src="js/make.js"></script>
<script src="js/model.js"></script>
<script src="js/controller.js"></script>


<script>
    window.onload= function() {
        console.log("  _______          __   __   .__  __    \n  \\      \\   _____/  |_|  | _|__|/  |_  \n  /   |   \\_/ __ \\   __\\  |/ /  \\   __\\ \n /    |    \\  ___/|  | |    <|  ||  |   \n \\____|__  /\\___  >__| |__|_ \\__||__|   \n         \\/     \\/          \\/         ");
        console.log(" =======================================\n Good job for finding this page. Your     \n life with Netkit will be a lot easier!      \n ======================================= ");
    }
</script>

</body>
</html>