#controllerAndRulesSection {
	width: 400px;
	overflow-y: hidden;
}

#controllerAndRulesSection h3 {
	margin-top: 10px;
}

#controllerAndRulesSection input {
	background: none;
	border: 1px solid darkgray;
	padding: 3px 10px;
	width: 150px;
	margin: 3px;
}

#d3-rules textarea:disabled {
	height: 600px;
}

#d3-controller textarea {
	height: 300px;
}