#sdn {
    margin: 1em;
}

#sdnDisclaimer {
    text-align: center;
    padding: 1em;
    background-color: var(--disclaimer-color);
    border-radius: 1em;
}

#sdn button {
    margin-bottom: 15px;
}

svg,
#details {
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: content-box;
    vertical-align: top;
}

#secondarySVG {
    display: none;
}

#details {
    display: inline-block;
    width: 400px;
    height: 600px;
    overflow: auto;
}

.colorTag {
    display: inline-block;
    width: 30px;
    height: 15px;
}

#details button {
    float: right;
    margin: 0;
}

#details hr:last-child {
    display: none;
}

/* ----- NODES ----- */

g.nodes circle:not(.network) {
    fill: brown;
    r: 20;
}

g.nodes circle:not(.network):hover {
    r: 25;
}

g.nodes circle.network {
    fill: black;
    r: 10;
}

g.nodes circle.network:hover {
    r: 20;
}

g.nodes circle.switch {
    fill: blue;
}

g.nodes circle.controller {
    fill: orange;
}

g.nodes circle.selected {
    stroke: green;
    stroke-width: 5px;
}

/* ----- LINKS ----- */

g.links line {
    stroke: lightgray;
    stroke-width: 3px;
}

g.links line:hover {
    stroke-width: 6px;
}

g.links line.switch {
    stroke: darkgray;
}

g.links line.selected {
    stroke: green;
}

g.links line.controller {
    stroke-dasharray: 10px 10px;
}

/* -------- SVG2 - Details -------- */

line.axis {
    stroke: darkgray;
    stroke-width: 1px;
}