[
    {
        "labInfo": {
            "description": "06-11-2015 Projector",
            "version": "1.0",
            "author": "",
            "email": "",
            "web": "",
            "toggle": "enable"
        },
        "netkit": [
            {
                "name": "ns",
                "row": 1,
                "type": "ns",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "10.0.0.3/24",
                            "$$hashKey": "object:10"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:12",
                            "gw": "10.0.0.1"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": false
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:18"
            },
            {
                "name": "user-pc",
                "row": 2,
                "type": "terminale",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "A"
                            },
                            "ip": "10.0.0.2/24",
                            "$$hashKey": "object:55"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:57",
                            "gw": "10.0.0.1"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:52"
            },
            {
                "name": "r1",
                "row": 3,
                "type": "router",
                "interfaces": {
                    "counter": 2,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "B"
                            },
                            "ip": "15.0.0.1/24",
                            "$$hashKey": "object:101"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "A"
                            },
                            "$$hashKey": "object:367",
                            "ip": "10.0.0.1/24"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "20.0.0.0/24",
                            "if": "0",
                            "$$hashKey": "object:103",
                            "gw": "15.0.0.2"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:97"
            },
            {
                "name": "root-ns",
                "row": 4,
                "type": "ns",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "B"
                            },
                            "ip": "15.0.0.10/24",
                            "$$hashKey": "object:149",
                            "name": "ROOT-SERVER."
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 2,
                    "gw": [
                        {
                            "route": "20.0.0.0/24",
                            "if": "0",
                            "$$hashKey": "object:151",
                            "gw": "15.0.0.2"
                        },
                        {
                            "route": "10.0.0.0/24",
                            "if": 0,
                            "$$hashKey": "object:386",
                            "gw": "15.0.0.1"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true,
                    "zone": "."
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:144"
            },
            {
                "name": "srv-ns",
                "row": 5,
                "type": "ns",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "B"
                            },
                            "ip": "15.0.0.11/24",
                            "$$hashKey": "object:199"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:201"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true,
                    "zone": ".srv."
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:193"
            },
            {
                "name": "r2",
                "row": 6,
                "type": "router",
                "interfaces": {
                    "counter": 2,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "C"
                            },
                            "ip": "20.0.0.1/24",
                            "$$hashKey": "object:251"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "B"
                            },
                            "$$hashKey": "object:424",
                            "ip": "15.0.0.2/24"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "10.0.0.0/24",
                            "if": "1",
                            "$$hashKey": "object:253",
                            "gw": "15.0.0.1"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:244"
            },
            {
                "name": "websrv",
                "row": 7,
                "type": "ws",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "C"
                            },
                            "ip": "20.0.0.2/24",
                            "$$hashKey": "object:305",
                            "name": "web.srv."
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": "0",
                            "$$hashKey": "object:307",
                            "gw": "20.0.0.1"
                        }
                    ]
                },
                "pc": {
                    "dns": ""
                },
                "ws": {
                    "userdir": true
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "$$hashKey": "object:297"
            }
        ]
    }
]