[
    {
        "labInfo": {
            "description": "",
            "version": "",
            "author": "",
            "email": "",
            "web": "",
            "toggle": "enable"
        },
        "netkit": [
            {
                "name": "controller",
                "row": 1,
                "type": "controller",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "SDNRESERVED"
                            },
                            "ip": "192.168.100.1/24",
                            "$$hashKey": "object:20"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:23"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "simple": false,
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": "",
                    "observelinks": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 991127739483138,
                "$$hashKey": "object:26"
            },
            {
                "name": "left",
                "row": 2,
                "type": "switch",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "SDNRESERVED"
                            },
                            "ip": "192.168.100.2/24",
                            "$$hashKey": "object:82"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "A"
                            },
                            "$$hashKey": "object:194"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "B"
                            },
                            "$$hashKey": "object:345"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:85"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "simple": false,
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": "",
                    "observelinks": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 80198070964318,
                "$$hashKey": "object:74"
            },
            {
                "name": "right",
                "row": 3,
                "type": "switch",
                "interfaces": {
                    "counter": 3,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "SDNRESERVED"
                            },
                            "ip": "192.168.100.3/24",
                            "$$hashKey": "object:145"
                        },
                        {
                            "eth": {
                                "number": 1,
                                "domain": "A"
                            },
                            "$$hashKey": "object:208"
                        },
                        {
                            "eth": {
                                "number": 2,
                                "domain": "C"
                            },
                            "$$hashKey": "object:361"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:148"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "simple": false,
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": "",
                    "observelinks": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 61839701672449,
                "$$hashKey": "object:136"
            },
            {
                "name": "pcleft",
                "row": 4,
                "type": "terminal",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "B"
                            },
                            "ip": "192.168.0.1/16",
                            "$$hashKey": "object:230"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:233"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "simple": false,
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": "",
                    "observelinks": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 289189061001735,
                "$$hashKey": "object:220"
            },
            {
                "name": "pcright",
                "row": 5,
                "type": "terminal",
                "interfaces": {
                    "counter": 1,
                    "if": [
                        {
                            "eth": {
                                "number": 0,
                                "domain": "C"
                            },
                            "ip": "192.168.0.2/16",
                            "$$hashKey": "object:297"
                        }
                    ],
                    "free": ""
                },
                "gateways": {
                    "counter": 1,
                    "gw": [
                        {
                            "route": "",
                            "if": 0,
                            "$$hashKey": "object:300"
                        }
                    ]
                },
                "pc": {
                    "dns": "-"
                },
                "ws": {
                    "userdir": false
                },
                "ns": {
                    "recursion": true,
                    "authority": true
                },
                "other": {
                    "image": "",
                    "files": [],
                    "fileCounter": 0
                },
                "ryu": {
                    "simple": false,
                    "stp": false,
                    "rest": true,
                    "topology": true,
                    "custom": "",
                    "observelinks": true
                },
                "routing": {
                    "rip": {
                        "en": false,
                        "connected": false,
                        "ospf": false,
                        "bgp": false,
                        "network": [
                            ""
                        ],
                        "route": [
                            ""
                        ],
                        "free": ""
                    },
                    "ospf": {
                        "en": false,
                        "connected": false,
                        "rip": false,
                        "bgp": false,
                        "if": [],
                        "network": [
                            ""
                        ],
                        "area": [
                            "0.0.0.0"
                        ],
                        "stub": [
                            false
                        ],
                        "free": ""
                    },
                    "bgp": {
                        "en": false,
                        "as": "",
                        "network": [
                            ""
                        ],
                        "remote": [
                            {
                                "neighbor": "",
                                "as": "",
                                "description": ""
                            }
                        ],
                        "free": ""
                    }
                },
                "_uid": 650848645507238,
                "$$hashKey": "object:286"
            }
        ]
    }
]