:root {
	--main-color: #337ab7;
	--secondary-color: #5b8fbd;
	--disclaimer-color: rgb(255, 222, 222);
}

html, body, #main {
	height: 100%;
	background-image: url(../../static/images/background.png);
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ffff00;
	color: black;
	padding: 0.2em 0;
}

.hidden {
	display: none;
}

.tab-pane {
	margin: 1em;
}

.disclaimer {
	text-align: center;
	padding: 10px;
	background-color: var(--disclaimer-color);
	border-radius: 1em;
	margin: 1em;
	z-index: 1;
}

#button-controls hr {
	margin: 10px 0;
	display: block;
	width: 100%;
}

/* ------------------------------------------------------- */
/* ----------------------- CONNECT ----------------------- */
/* ------------------------------------------------------- */

#connect {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 10;
	padding: 20% 0;
}

/* ------------------------------------------------------ */
/* ----------------------- MODAL ----------------------- */
/* ------------------------------------------------------ */

.modal-kathara {
	display: block;
	z-index: 9999;
	background: rgba(189, 189, 189, 0.5);
}

.modal-kathara .modal-title {
	text-align: left;
}

.modal-kathara .modal-footer {
	margin: 5px 0;
	border: 0 !important;
	padding: 10px;
	clear: both;
	text-align: right;
}

/* ------------------------------------------------------ */
/* ----------------------- INPUTS ----------------------- */
/* ------------------------------------------------------ */

.form-control {
	border-radius: 0;
	padding: 2px 6px;
	margin-top: -2px;
	margin-bottom: 2px;
	height: 26px;
}

textarea {
	width: 100%;
	font-size: 14px;
	color: #555;
	padding: 1em;
	border: 1px solid lightgray;
}

textarea,
textarea:disabled {
	background-color: #fafafa;
}

a {
	cursor: pointer;
}

input {
	background-position: right center;
	background-repeat: no-repeat;
	font-weight: normal;
}

/* ----------- BUTTONS ----------- */

#button-controls {
	margin: 10px 0 0 10px;
	box-shadow: 1px 0px 6px darkgrey;
	background: white;
	cursor: auto;
}

#button-controls button {
	margin: 5px 0;
	display: block;
	box-shadow: 1px 1px 2px lightgray;
	width: 100%;
}

td, th {
	border: 1px solid lightgray;
	padding: 10px;
}

th {
	color: white;
	background-color: var(--main-color);
}

label {
	margin-bottom: .3em;
}

p.btn,
span.btn {
	width: 100%;
	padding: 2% 4%;
}

/* ----------- DETAILS COMMON ----------- */

#labelsSection,
#switchDetailsSection,
#controllerAndRulesSection {
	position: fixed;
	right: 10px;
	top: 10px;
	min-height: 700px;
	max-height: 90%;
	background-color: white;
	box-shadow: 0 0 5px darkgray;
	white-space: normal;
	text-align: left;
	cursor: auto;
}

@media (min-width: 1450px), (min-height: 900px) {
	.disclaimer:first-child{
		display: none;
	}
}

#sdnGraph {
	border: 1px solid lightgray;
	position: absolute;
	top: 10px;
	left: 240px;
}

.tab {
	cursor: pointer;
	padding: 5px;
}

.tab.active {
	border-bottom: 2px solid lightblue;
}

#switchDetailsSection td input[type=number] {
	max-width: 50px;
	margin: 0;
	border: none;
}

#switchDetailsSection > a,
#controllerAndRulesSection > a {
	font-size: large;
	float: right;
	color: red;
	margin-bottom: 5px;
}

textarea {
	display: block;
	margin: 5px 0;
}
