.schede {
	max-width: 1300px;
	margin: auto;
	display: flex;

	flex-wrap: wrap;
	justify-content: center;
}

.schede > div {
	width: 400px;
	margin: 10px;
	padding: 1em 3em;
	
	border: 1px solid lightgray;	
    box-shadow: -1px 3px 4px lightgrey;
	opacity: 0.6
}

.schede > div:hover {
	opacity: 1;
}