#sdn button {
    margin-bottom: 15px;
}

#sdnGraph,
#details,
#details2 {
    border: 1px solid lightgray;
    padding: 10px;
    box-sizing: content-box;
    vertical-align: top;
}

/* ----------------- */
/* ----- NODES ----- */
/* ----------------- */

g.nodes circle {
    fill: brown;
    r: 20;
}

g.nodes circle.network {
    fill: black;
    r: 10;
}

g.nodes circle.switch {
    fill: blue;
}

g.nodes circle.controller {
    fill: orange;
}

g.nodes circle.control {
    stroke: black;
    stroke-width: 1px;
    fill: white;
}

g.nodes circle.edge {
}

/* --- mouseover --- */

g.nodes circle:hover {
    r: 25;
}

g.nodes circle.network:hover {
    r: 20;
}

/* --- selection --- */

g.nodes circle.selected {
    stroke: green;
    stroke-width: 5px;
}

/* ----------------- */
/* ----- LINKS ----- */
/* ----------------- */

g.links line {
    stroke: lightgray;
    stroke-width: 3px;
}

g.links line.switch {
    stroke: darkgray;
}

g.links line.controller {
    stroke-dasharray: 10px 10px;
}

/* --- mouseover --- */


g.links line:hover {
    stroke-width: 6px;
}

/* --- selection --- */


g.links line.selected {
    stroke: green;
}

/* ---------------------- */
/* --- LABELS DETAILS --- */
/* ---------------------- */

#details {
    display: inline-block;
    width: 400px;
    height: 800px;
    overflow: auto;
}

#details input {
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;

    max-width: 30%;
}

#details input:valid {
    background-image: none;
}

.colorTag {
    display: inline-block;
    width: 30px;
    height: 15px;
    margin-right: 10px;
}

#details button {
    float: right;
    margin: 0;
    margin-left: 5px;
}

#details hr:last-child {
    display: none;
}

.label-details {
    border: 1px solid darkgray;
    display: none;
}

/* --- Details table --- */

.label-details table {
    margin: 3px auto;
    width: 95%;
}

.label-details th {
    padding: 0 10px;
}

.label-details td {
    padding: 5px;
}

/* -------------------- */
/* --- NODE DETAILS --- */
/* -------------------- */

#details2 {
    display: none;
    width: 400px;
    height: 800px;
    overflow-y: scroll;
    overflow-x: auto;
}

#details2 svg {
    border: 1px solid lightgray;
    box-sizing: content-box;
    padding: 10px;
    margin: 10px auto;
}

#details2 > a {
    float: right;
    color: red;
    margin-bottom: 5px;
}

#details2 .disclaimer {
    margin-top: 30px;
}

#rules {
    margin: auto;
    width: fit-content;
    text-align: center;
}

#rules h2 {
    text-align: center;
    text-decoration: underline;
    color: var(--main-color);
}