:root {
	--main-color: #337ab7;
	--secondary-color: #5b8fbd;
	--disclaimer-color: rgb(255, 222, 222);
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ffff00;
	color: black;
	padding: 0.2em 0;
}

.hidden {
	display: none;
}

.disclaimer {
	position: fixed;
	padding: 13px 20px;
	background-color: var(--disclaimer-color);
	z-index: 1;
	top: 7rem;
	left: 2rem;
	border-radius: 15px;
}

@media (min-width: 1300px), (min-height: 900px) {	/*TODO: min-height non funziona*/
	.disclaimer:first-child{
		display: none;
	}
}

/* ------------------------------------------------------- */
/* ----------------------- CONNECT ----------------------- */
/* ------------------------------------------------------- */

#connect {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 10;
	padding: 20% 0;
}

/* ------------------------------------------------------- */
/* ----------------------- TOP BAR ----------------------- */
/* ------------------------------------------------------- */

#topbar, #secondaryTopbar {
	display: flex;
	width: 100%;
	height: 5rem;
	padding: .6rem;
	background: white;
	box-shadow: 0px 1px 1px 0 darkgrey;
}

#topbar button,
#secondaryTopbar button {
	margin: 0 .3rem;
}

#secondaryTopbar {
	position: absolute;
	top: 0;
	z-index: -1;
}

/* ------------------------------------------------------ */
/* ------------------------ MAIN ------------------------ */
/* ------------------------------------------------------ */

#main {
	overflow: auto;
	padding: 5px 2px;
}

#main-grid {
	display: grid;
	grid-template-columns: 350px 900px auto;
	column-gap: 5px;
}

/* ------------------------------------------------------- */
/* ------------------------- SDN ------------------------- */
/* ------------------------------------------------------- */

#sdnGraph {
	border: 1px solid lightgray;
	background-color: white;
	background-image: url(../static/images/background.png);
}

#confirm-buttons {
	position: relative;
	border: 1px solid darkgray;
	padding: 1rem;
	border-radius: 10px;
	display: inline-block;
	left: 40%;
	background: white;
	top: -7rem;
	transition: top .3s, opacity .4s;
}

/* ------------------------------------------------------ */
/* ----------------------- INPUTS ----------------------- */
/* ------------------------------------------------------ */

textarea {
	width: 100%;
	font-size: 14px;
	color: #555;
	padding: 1em;
	border: 1px solid lightgray;
	display: block;
	margin: 5px 0;
}

textarea,
textarea:disabled {
	background-color: #fafafa;
}

a {
	cursor: pointer;
}

td, th {
	border: 1px solid lightgray;
	padding: 10px;
}

th {
	color: white;
	background-color: var(--main-color);
}

label {
	margin-bottom: .3em;
}

p.btn,
span.btn {
	width: 100%;
	padding: 2% 4%;
}

/* ------------------------------------------------------ */
/* ---------------------- SECTIONS ---------------------- */
/* ------------------------------------------------------ */

#labelsSection,
#switchDetailsSection,
#controllerAndRulesSection {
	min-height: 75rem;
	white-space: normal;
	cursor: auto;
	padding: 1rem;
	border: 1px solid lightgray;
	max-height: 800px;
	background-color: white;
	width: fit-content;
}

.tab {
	cursor: pointer;
	padding: 5px;
}

.tab.active {
	border-bottom: 2px solid lightblue;
}

#switchDetailsSection > a,
#controllerAndRulesSection > a {
	font-size: large;
	float: right;
	color: red;
	margin-bottom: 5px;
}